In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import scipy as sc
import numpy as np
import re

### Step 1 : Get all pages that contain tables (and save it into a list)

In [2]:

url = "https://www.dolphinsafari.com/sightings-log/whale-watching-sightings-archive/" # The first Url of the page

response = requests.get(url)

soup = BeautifulSoup(response.content, "html.parser") #Bs object

In [3]:

links=[]
linksToPages=[]

for a in soup.find_all('a', href=True):
    links.append(a['href'])

linksToPages=[l for l in links if  'https://www.dolphinsafari.com/sightings-log/sightings' in l or 'https://www.dolphinsafari.com/sightings-log/whale-watching-sightings-log' in l or 'https://www.dolphinsafari.com/sightings-log/dana-point-whale-watching-sightings-log' in l or 'https://www.dolphinsafari.com/sightings-log/2016-whale-watching-sightings/' in l or l== 'https://www.dolphinsafari.com/sightings-log/' ]

linksToPages.remove(linksToPages[0])
linksToPages.remove(linksToPages[0])

### step 2 : Getting the tables

###### In next cell we are crawling the information for the years 2002-2018

In [4]:
cells = list()
Date = list()
Bottlenose_Dolphin = list()
Common_Dolphin = list()
Pacific_White_sided_Dolphin = list()
Rissos_Dolphin = list()
Whales = list()
Other = list()
Number_of_trips = list()

Date_2 = list()
no_of_trips_2 = list()
sightings = list()

Years = ["2002","2003", "2004","2005","2006","2007","2008","2009",'2010','2011',"2012","2013","2014","2015","2016","2017","2018","2019","2020"]


         ### 2002 - 2018
for i in range(17): 
    response1 = requests.get(linksToPages[i])
    soup1 = BeautifulSoup(response1.content, "html.parser")  # Bs object
    table = soup1.find_all("tbody")
    table = list(table)[0]
    
    for rows in table("tr"):  # tr = table rows
        cells = rows("td")  # the cells
        
        if Years[i]=='2003' or Years[i]=='2004':  # In those years Other and Grey Whales switch places
            Date.append(cells[0].get_text().strip())  # getting the Dates
            Bottlenose_Dolphin.append(cells[1].get_text().strip())
            Common_Dolphin.append(cells[2].get_text().strip())
            try:Rissos_Dolphin.append(cells[4].get_text().strip())
            except:Rissos_Dolphin.append('0')  
                
            try:Pacific_White_sided_Dolphin.append(cells[3].get_text().strip())
            except:Pacific_White_sided_Dolphin.append('0')
                
            try:Whales.append(cells[6].get_text().strip())
            except:Whales.append('0')
                
            try: Other.append(cells[5].get_text().strip())
            except:Other.append('0')
                
            Number_of_trips.append(np.nan)  # adding Nan values to missing data of number of trips
            
        elif(Years[i] > '2010' and Years[i] < '2017'):  # between years 2011-2016 number of trips colum was added
            Date.append(cells[0].get_text().strip())  # getting the Dates
            Number_of_trips.append(cells[1].get_text().strip())
            Bottlenose_Dolphin.append(cells[2].get_text().strip())
            Common_Dolphin.append(cells[3].get_text().strip())
            try:Rissos_Dolphin.append(cells[5].get_text().strip())
            except:Rissos_Dolphin.append('0')    

            try:Pacific_White_sided_Dolphin.append(cells[4].get_text().strip())
            except:Pacific_White_sided_Dolphin.append('0')

            try:Whales.append(cells[6].get_text().strip())
            except:Whales.append('0')
                
            try: Other.append(cells[7].get_text().strip())
            except:Other.append('0')
                
        elif (Years[i]=='2002' or (Years[i] < '2011' and Years[i] > '2004')):  # Years 2002 and 2005-2010, years without nomber of trips column
            Date.append(cells[0].get_text().strip())  # getting the Dates
            Bottlenose_Dolphin.append(cells[1].get_text().strip())
            Common_Dolphin.append(cells[2].get_text().strip())
            try:Rissos_Dolphin.append(cells[4].get_text().strip())
            except:Rissos_Dolphin.append('0')    

            try:Pacific_White_sided_Dolphin.append(cells[3].get_text().strip())
            except:Pacific_White_sided_Dolphin.append('0')

            try:Whales.append(cells[5].get_text().strip())
            except:Whales.append('0')
            try: Other.append(cells[6].get_text().strip())
            except:Other.append('0')
            Number_of_trips.append(np.nan)  # adding NAN values to missing data of number of trips
        
        elif (Years[i] > '2016' and Years[i] < '2019'):  # Years 2017-2018
            Date_2.append(cells[0].get_text().strip())  # getting the Dates
            no_of_trips_2.append(cells[1].get_text().strip())
            sightings.append(cells[2].get_text().strip())

###### In next cells we are crawling the information for the years 2019-2021

In [5]:
## Year 2019
    ## in 2019, the records was different so the crawling needed a change
    
response1 = requests.get(linksToPages[17])
soup1 = BeautifulSoup(response1.content, "html.parser")  # Bs object
table = soup1.find_all("tbody")
           
for j in range(12):
    table2 = list(table)[j]

    
    for rows in table2("tr"):  # tr = table rows
            
        cells = rows("td")  # the cells
    
        Date_2.append(cells[0].get_text().strip())  # getting the Dates
        no_of_trips_2.append(cells[1].get_text().strip())
        sightings.append(cells[2].get_text().strip())

In [6]:
## Year 2020
    ## in 2020, the same as in 2019, but April was left out because of covid-19
    
response1 = requests.get(linksToPages[18])
soup1 = BeautifulSoup(response1.content, "html.parser")  # Bs object
table = soup1.find_all("tbody")
           
for j in range(11):
    table2 = list(table)[j]
  
    for rows in table2("tr"):  # tr = table rows
            
        cells = rows("td")  # the cells
            
        Date_2.append(cells[0].get_text().strip())  # getting the Dates
        no_of_trips_2.append(cells[1].get_text().strip())
        sightings.append(cells[2].get_text().strip())

In [7]:
## Year 2021
    ## in 2021, the same as in 2019
    
response1 = requests.get(linksToPages[19])
soup1 = BeautifulSoup(response1.content, "html.parser")  # Bs object
table = soup1.find_all("tbody")
           
for j in range(12):
    table2 = list(table)[j]

    
    for rows in table2("tr"):  # tr = table rows
            
        cells = rows("td")  # the cells
    
        Date_2.append(cells[0].get_text().strip())  # getting the Dates
        no_of_trips_2.append(cells[1].get_text().strip())
        sightings.append(cells[2].get_text().strip())

### step 3 : DataFrames
#### Creating 2 DataFrames (We have 2 kind of tables)

In [8]:
# 2002 - 2016 df
df = pd.DataFrame({"Date": Date,"Number of trips": Number_of_trips , "Bottlenose Dolphin":Bottlenose_Dolphin,
                   "Common Dolphin": Common_Dolphin, "Pacific White sided Dolphin":Pacific_White_sided_Dolphin,
                   "Rissos Dolphin": Rissos_Dolphin,"Whales": Whales, "Other":Other})

# 2017 - 2021 df
df_17_21 = pd.DataFrame({"Date": Date_2,"Number of trips": no_of_trips_2 , "Sightings":sightings})

#### Adding 'Gray Whales Column

In [9]:
## Adding 'Gray Whales' column to 2002-2016

Gray_Whale = [0]*(df.shape[0])

for i in range (df.shape[0]):  ## Grey whales column
    if Whales[i] == "Gray" or Whales[i] == "Grays":
        Gray_Whale[i] = 1
            
    elif("Gray" in str(Whales[i])):
        try: Gray_Whale[i] = re.findall(r'\d+', Whales[i])[0]
        except: Gray_Whale[i] = 1
    
    if Other[i] == "Gray" or Other[i] == "Grays":
         Gray_Whale[i] = 1
    elif("Gray" in str(Other[i])):
        try: Gray_Whale[i] = re.findall(r'\d+', Other[i])[0]   
        except: Gray_Whale[i] = 1

df = pd.DataFrame({"Date": Date,"Number of trips": Number_of_trips,
                        "Bottlenose Dolphin":Bottlenose_Dolphin, "Common Dolphin": Common_Dolphin,
                        "Pacific White sided Dolphin":Pacific_White_sided_Dolphin,
                        "Rissos Dolphin": Rissos_Dolphin,"Whales": Whales,"Gray Whales": Gray_Whale, "Other":Other})

#### Extracting the relevant animals from 'Sightings'

In [10]:
### Seperating the 'sightings' to individual columns. years 2017-2021

sightings_strings = df_17_21['Sightings'].str.split(', ')  # A list of all strings from sightings column

##  Creating a DataFrame of 2017-2021 based on the number of days
df_len = len(sightings_strings)
Whale_17_21 = [0]*df_len
bottle_Dolphin_17_21 = [0]*df_len
pacific_Dolphin_17_21 = [0]*df_len
Riss_dolphin_17_21 = [0]*df_len
com_dolphin_17_21 = [0]*df_len
other_17_21 = [0]*df_len
Gray_whale_17_21 = [0]*df_len

In [11]:
 ### Filling the DataFrame with the relevant information from 'Sightings' 

for i in range (df_17_21.shape[0]):
    for j in range (len(sightings_strings[i])):
        if ('Gray Whales' in sightings_strings[i][j] or 'Gray Whale' in sightings_strings[i][j]):
            Gray_whale_17_21[i] = sightings_strings[i][j]
    
        if ('Pacific White-sided Dolphins' in sightings_strings[i][j] or 'Pacific White-sided Dolphin' in sightings_strings[i][j]):
            pacific_Dolphin_17_21[i] = sightings_strings[i][j]  

        if ('Common Dolphins' in sightings_strings[i][j] or 'Common Dolphin' in sightings_strings[i][j]):
            com_dolphin_17_21[i]= sightings_strings[i][j]
        
        if ('Risso’s Dolphin' in sightings_strings[i][j] or 'Risso’s Dolphins' in sightings_strings[i][j]):
            Riss_dolphin_17_21[i]= sightings_strings[i][j]
        
        if ('Bottlenose Dolphins' in sightings_strings[i][j] or 'Bottlenose Dolphin' in sightings_strings[i][j]):
            bottle_Dolphin_17_21[i]= sightings_strings[i][j]
            
        if ('whale' in sightings_strings[i][j] or 'Whales' in sightings_strings[i][j]):
            Whale_17_21[i] = sightings_strings[i][j]
            
        if ('Elephant Seal' in sightings_strings[i][j]  or 'Mola' in sightings_strings[i][j] or 'Sharks' in sightings_strings[i][j]):
            other_17_21[i]= 1


### Building the DataFrame for years 2017-2021            
            
df_17_21 = pd.DataFrame({"Date": Date_2,"Number of trips": no_of_trips_2 , "Bottlenose Dolphin":bottle_Dolphin_17_21, "Common Dolphin":com_dolphin_17_21,
                         "Pacific White sided Dolphin":pacific_Dolphin_17_21, "Rissos Dolphin":Riss_dolphin_17_21, "Whales":Whale_17_21,
                         "Gray Whales": Gray_whale_17_21, "Other": other_17_21})

### step 4 : Final DataFrame
## Merging the DataFrames

In [13]:
### Merging the 2 DataFrames
## now we have 2002-2021

frames = [df, df_17_21]
  
full_data = pd.concat(frames, join='inner',ignore_index=True)
full_data.to_csv("full_data_02_21.csv")
full_data

,Date,Number of trips,Bottlenose Dolphin,Common Dolphin,Pacific White sided Dolphin,Rissos Dolphin,Whales,Gray Whales,Other
0,,NaN,,,,,,0,
1,Dec 31,NaN,,20 Com.,30 Pacific White-sided,,,0,
2,Dec 30,NaN,,Com.,20 Pacific White-sided,,2 Gray Whales,2,
3,Dec 28,NaN,,Com.,Pacific White-sided,,Gray Whale & Calf,1,
4,Dec 27,NaN,,Com.,Pacific White-sided,,,0,
...,...,...,...,...,...,...,...,...,...
6622,Feb 5,2,0,"1,525 Common Dolphins",0,0,3 Gray Whales,3 Gray Whales,0
6623,Feb 4,1,2 Bottlenose Dolphins,0,50 Pacific White-sided Dolphins,0,0,0,0
6624,Feb 3,1,0,300 Common Dolphins,35 Pacific White-sided Dolphins,0,0,0,0
6625,Feb 2,1,0,0,0,0,3 Gray Whales,3 Gray Whales,0
6626,Feb 1,2,0,60 Common Dolphins,50 Pacific White-sided Dolphins,0,6 Gray Whales,6 Gray Whales,0